<!DOCTYPE html>
<html>
    <head>
        <title>Password Reset.</title>
    </head>
    <body>
        <h1>Password Reset</h1>
        <p>Please update your password below.</p>
        <hr>
        <br>
        <form class="container">
            <label for="password"><b>New Password:</b></label>
            <input type="text" placeholder="New Password" name="newPsw" id="newPsw" required>
        <br>
        <br>
            <label for="psw confirm"><b>Confirm New Password:</b></label>
            <input type="password" placeholder="Confirm New Password" name="newPsw-confirm" id="newPsw-confirm" required>
        <br>
        <br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>